:root{
  --main-color: rgb(63, 63, 63);
  --main-text-color: aliceblue;
  --main-gap: 12px;
  --flex-column: column wrap;
  --main-padding: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--main-color);
  color: var(--main-text-color);
  font-family: 'Aceh', sans-serif;
                                                
}

/* Home */
.Home{
  display: flex;
  gap: var(--main-gap);
  flex-wrap: wrap;
  width: 100vw;
}

/* Profile */
.Profile{
  display: flex;
  flex-flow: var(--flex-column);
  gap: var(--main-gap);
  align-items: center;
  padding: var(--main-padding);
  max-width: 450px;
  justify-content: center;
  border: 1px solid yellow;
  height: 50vh;
}

.Profile p {
  word-wrap: break-word;
}

.Profile__img{
  width: 150px;
  border-radius: 50%;
}

/* Animated Logo */
.AnimatedLogo{
  border: 1px solid red;
}