:root{
  --main-color: rgb(63, 63, 63);
  --main-text-color: aliceblue;
  --main-gap: 12px;
  --flex-column: column wrap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--main-color);
  color: var(--main-text-color);
  font-family: 'Aceh', sans-serif;
                                                
}

/* Home */

/* Profile */
.Profile{
  display: flex;
  flex-flow: var(--flex-column);
  gap: var(--main-gap);
  align-items: center;
}

.Profile__img{
  width: 150px;
  border-radius: 50%;
}